@model Class

@{
    ViewData["Title"] = "إضافة شعبة";
}

        <div class="card card-default m-3">
             <form asp-action="Create">

             <div class="p-3 d-flex justify-content-between border" style="background-color: #f8f9fa;">
            <div class="card-title ">إضافة شعبة</div>

            <div>
            <input type="submit" value="حفظ"  class="btn   mr-auto btn text-white bg-gradient-primary btn-xs" style="width:100px;height:40px;font-size:17px;"/>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="row">
              <div class="col-md-6">

                  <div class="form-group">
                  <label asp-for="SchoolId">المدرسة</label>
                  <select asp-for="SchoolId"  class="form-control select2" style="width: 100%;">
                
                        @foreach (var item in ViewBag.Schools)
                        {
                       <option value="@item.Id">@item.Name</option>
                        }
                  </select>
                  <span asp-validation-for="SchoolId" class="text-danger"></span>

                </div>
            
                </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Name">اسم الشعبة</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" placeholder="اسم الشعبة">
                     <span asp-validation-for="Name" class="text-danger"></span>
                  </div>
                 </div>      
                 </div>
            </div>
                 </form>
          </div>


